<!DOCTYPE html>
<html>
  <head>
    <title>种植园</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <div class="gride-control">
      <div class="common-button add-new-record">
        添加记录
      </div>
    </div>
    <div class="gride">
      <table>
        
      </table>
    </div>
    <div class="message">test</div>
    <div class="new-record">
      <input type="text" name="stock" placeholder="股票代码, 上海sh, 其他sz">
      <input type="text" name="price" placeholder="买入价格">
      <input type="text" name="enterDate" placeholder="买入时间 yyyy/mm/dd">
      <input type="text" name="dropLine" placeholder="止损价格">
      <input type="button" value="提交" class="submit">
    </div>
  </body>
</html>
