<!DOCTYPE html>
<html>
  <head>
    <title>种植园</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <div class="gride-control">
      <div class="common-button">
        添加记录
      </div>
    </div>
    <div class="gride">
      <table>
        
      </table>
    </div>
    <div class="message">test</div>
  </body>
</html>
